Source: awn
Section: gnome
Priority: optional
Maintainer: Debian QA Group <packages@qa.debian.org>
Build-Depends:
 debhelper (>= 9~),
 dh-autoreconf,
 dh-python,
 gconf2,
 gtk-doc-tools,
 intltool,
 libdbus-glib-1-dev,
 libdesktop-agnostic-bin,
 libdesktop-agnostic-dev (>= 0.3.92),
 libglib2.0-dev,
 libglibmm-2.4-dev,
 libgtk2.0-dev,
 libgtkmm-2.4-dev,
 libgtop2-dev,
 libwnck-dev,
 libxcomposite-dev,
 python-cairo-dev,
 python-desktop-agnostic,
 python-dev (>= 2.6.6-3~),
 python-gtk2-dev,
 valac
Standards-Version: 3.9.6
X-Python-Version: >= 2.6
Homepage: https://launchpad.net/avant-window-navigator/
Vcs-Git: git://github.com/gilir/awn-debian.git
Vcs-Browser: http://github.com/gilir/awn-debian/tree

Package: avant-window-navigator
Architecture: any
Depends:
 avant-window-navigator-data (>= ${source:Version}),
 dbus-x11,
 libdesktop-agnostic-bin,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 awn-applets-c-core,
 awn-applets-python-core,
 awn-settings (>= ${source:Version}),
 metacity | xcompmgr | xfwm4 | kwin-x11 | mutter | x-window-manager
Description: MacOS X like panel for GNOME
 Avant-window-navigator (Awn) is a MacOS X like panel for the GNOME Desktop
 written in C.  In addition to launchers that can be dragged onto the bar,
 it features a taskbar that behaves similarly to the Mac OSX dock. The window
 navigator uses the composite extension for transparency and other effects.

Package: avant-window-navigator-data
Architecture: all
Depends:
 ${misc:Depends}
Description: Common files for avant-window-navigator
 Avant-window-navigator (Awn) is a MacOS X like panel for the GNOME Desktop
 written in C.  In addition to launchers that can be dragged onto the bar,
 it features a taskbar that behaves similarly to the Mac OSX dock. The window
 navigator uses the composite extension for transparency and other effects.
 .
 This package contains all images and locales for avant-windows-navigator.

Package: libawn1
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 ${misc:Depends},
 ${shlibs:Depends}
Description: library for avant-window-navigator
 The avant-window-navigator library is used by avant-window-navigator and its
 applets. It provides functions to create the bar and the applets.
 .
 This package contains the avant-window-navigator library.

Package: libawn-doc
Section: doc
Architecture: all
Depends:
 libawn1 (>= ${source:Version}),
 ${misc:Depends}
Description: library for avant-window-navigator - documentation files
 The avant-window-navigator library is used by avant-window-navigator and its
 applets. It provides functions to create the bar and the applets.
 .
 This package contains documentation for avant-window-navigator and its library
 to develop applets or the bar.

Package: libawn-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends:
 libawn1 (= ${binary:Version}),
 libdbus-glib-1-dev,
 libdesktop-agnostic-dev,
 libgtk2.0-dev,
 ${misc:Depends}
Breaks:
 vala-awn
Replaces:
 vala-awn
Description: library for avant-window-navigator - development files
 The avant-window-navigator library is used by avant-window-navigator and its
 applets. It provides functions to create the bar and the applets.
 .
 This package contains the development files used to build programs that use
 the avant-window-navigator library.

Package: awn-settings
Architecture: all
Depends:
 avant-window-navigator,
 gnome-menus,
 librsvg2-common,
 python-awn,
 python-dbus,
 python-desktop-agnostic,
 python-xdg,
 ${misc:Depends},
 ${python:Depends}
Description: Preferences manager for avant-window-navigator
 awn-settings provides a simple way to configure avant-window-navigator.
 You can manage preferences, themes, applets and launchers.
 .
 This package provides the preferences manager for avant-window-navigator.

Package: python-awn
Section: python
Architecture: any
Multi-Arch: same
Depends:
 libawn1 (= ${binary:Version}),
 python-desktop-agnostic,
 python-gtk2,
 ${misc:Depends},
 ${python:Depends},
 ${shlibs:Depends}
Description: Python bindings for avant-window-navigator library
 This library is used by avant-window-navigator. It provides Python bindings
 to create and use Python applets for avant-window-navigator.
 .
 This package provides the Python bindings for the avant-window-navigator
 library.

Package: libawn1-dbg
Section: debug
Priority: extra
Architecture: any
Multi-Arch: same
Depends:
 libawn1 (= ${binary:Version}),
 ${misc:Depends}
Description: library for avant-window-navigator - debug package
 This library is used by avant-window-navigator and its applets. It provides
 functions to create the bar and the applets.
 .
 This package contains the debugging symbols.
