#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/buildflags.mk
LDFLAGS += -Wl,--as-needed

configure_flags +=  --prefix=/usr \
					--disable-static \
					--disable-pymod-checks \
					--enable-gtk-doc \
					--with-gconf-schema-file-dir=/etc/gconf/schemas

override_dh_auto_configure:
	dh_auto_configure -- $(configure_flags)

override_dh_autoreconf:
	dh_autoreconf --as-needed debian/autogen.sh

override_dh_strip:
	dh_strip --dbg-package=libawn1-dbg

override_dh_install:
	#Remove .la, pyo and pyc files.
	find debian/tmp/usr/lib -name *.la |xargs rm
	find debian/tmp/usr/lib -name *.pyc |xargs rm
	find debian/tmp/usr/lib -name *.pyo |xargs rm
	dh_install --fail-missing

override_dh_auto_test:
	#Pass, tests don't pass for now.

override_dh_makeshlibs:
	dh_makeshlibs -plibawn1 -V 'libawn1 (>= 0.4.2)'

override_dh_python2:
	dh_python2 --no-guessing-versions

%:
	dh $@ --parallel --with python2,autoreconf

get-orig-source:
	sh debian/get-git-source.sh

.PHONY: get-orig-source
